streamlit
openai-whisper
torch
transformers
langchain==0.2.17
langchain-community
langchain-huggingface
spacy>=3.5.4
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
fpdf2
librosa
soundfile
ffmpeg
